/* Crea tu estilo aqui! */
.box {
  color: white;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  right: 1px;
  bottom: 1px;
}
